* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    
}
.header{
    width: 100vw;
    height: 100vh;

    background:url(./img/photo.jpeg) rgba(19, 183, 201, 0.3);
    background-size:cover;
    background-blend-mode: multiply;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;    
}
.header__logo{
    
    width: 182px;
    height: 57px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header__text{   
    color: #fff;
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular;
    font-size: 34px;        
}
.nav{
    display: flex;
    font-size: 14px;
    font-weight: 700;
}

.nav__link{
    margin-left: 30px;
    text-decoration: none;   
    transition: opacity .2s linear;
    opacity:1;
    color:#FFFFFF;
    font-family:Raleway-Medium,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular;
    font-size:14px;
    box-align:left;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    color: #C7B299;
    opacity: 1;
}