.match {
    position: relative;
    width: 20%;
    padding-top: 20%;
    margin-top: 5%;
    transform: rotate(0deg) scale(1, 1.1);
  }
  
  .fire {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    background: linear-gradient(45deg, #ffb105, #ff0e01);
    border-radius: 50% 0 50% 50%;
    transform: rotate(-45deg) scale(1, 1);
    box-shadow: 0 0 10px 5px rgba(139, 0, 0, 0.3);
  }
  .top{
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    height: 10%;
    background: #4b413b);
    border-radius: 50% 0 50% 50%;
    transform: rotate(-45deg) scale(1, 1);
    box-shadow: 0 0 10px 5px rgba(139, 0, 0, 0.3);

  }
  
  .stick {
    z-index: 2;
    position: absolute;
    width: 9%;
    padding-top: 100%;
    bottom: -90%;
    left: 45%;   
    background: #804823; 
    border: 0.1vw solid #af432a;
  }
  .stick::before {
    content: "";
    display: block;
    z-index: 3;
    position: absolute;
    left: -48%;
    top: -10%;
    width: 200%;
    height: 22%;
    background: #4d260f;
    border-radius: 50%;
  }
    .stick::after {
    content: "";
    display: block;
    z-index: 3;
    position: absolute;
    left: -68%;
    top: -14%;
    width: 240%;
    height: 22%;
    background: #f4f3f3;
    background: linear-gradient(to bottom, #fff, #fff 10%, transparent);    
    border-radius: 50%;
  }